---
layout: default 
title: petrepa
---
<!-- One -->
<section id="one">
	<header class="major">
		<h2>Hi, I'm Peter.<br />
	</header>
	<p>
		I am a developer working with data intelligence at <a href="https://brilliant.no/" ><span class="label">Brilliant</span></a> in Trondheim, Norway. 
		Recently I finished my master theisis in <a href="https://www.ntnu.no/studier/mtelsys" ><span class="label">Master of Science in Electronic Systems Design</span></a> within signal processing and communication.
		In my spare time I'm a tinkerer, playing with home automation and you bet I always have a project going.
	</p>
	<p>
		If you want to check out more of my work and follow along more closely, 
		check out my socials as I post more regularly there.
	</p>
</section>

{% assign collections = site.collections | sort: "order" %}
{% for collection in collections %}
	{% assign name = collection.label %}
	<section>
		<h2>{{ collection.name }}</h2>
		<div class="row">
		{% for page in site[name] %}
			<article class="col-6 col-12-xsmall work-item">
				{% if page.layout == "redirect" %}
					{% assign url = page.more_info_link %}
					{% assign fit = "fit_video" %}
				{% else %}
					{% assign url = page.url %}
					{% assign fit = "fit" %}
				{% endif %}
			
				<a href="{{ url }}" class="image {{ fit }} thumb">
					<img src="{{ page.image_path }}" alt="" />
				</a>
				
				<h3>
					<a href="{{ url }}">
						<span class="label">{{ page.name }}</span>
					</a>
				</h3>
		
				<p>{{ page.description }}</p>
			
			
			
			</article>

		{% endfor %}
		</div>
	</section>
{% endfor %}